@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-colour: rgb(0, 0, 0);
  --secondary-colour: rgb(254, 204, 66);
  --light-bg: rgb(255, 234, 197,0.2);
  --dark-bg: rgba(255, 219, 181, 0.25);
  --header-colour:rgba(0, 0, 0,0.8);
  --text-colour:rgba(255, 255, 255,0.7);
}

@font-face {
  font-family:'Lato';
  src: url('/team-project/public/assets/Lato-Regular.ttf') format('truetype'); 
}


/* Reset default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

/* Styling for footer */
footer {
  width: 100vw;
  display: inline-flex;
}

/* Styling for whole footer section */
#footer {
    font-size: 13px;
    z-index: -1;
    top: 50px;
    width: 100vw;
}
  
/* Styling for top footer section */
footer.top {
  background-color: black;
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: flex-start;
  position: relative;
  padding: 3% 14.25%;
}

/* Styling for footer border splitter */
footer.top::after {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 71.75%; 
  border-bottom: 1px solid #333333;
}

/* Styling for logo/description/sociallinks grid */
.logo-desc-soc {
  display: grid;
  grid-template-rows: 31% 65% 10%;
  height: 100%;
  margin-right: 10%;
}

/* Styling for logo image */
.logo img {
  max-width: 182px;
  max-height: 57px;
  transform: translateY(-10px);
}

/* Styling for description */
.desc {
  color: var(--text-colour);
}

/* Styling for social link icons */
.social-links i{
  color: white;
  font-size: 25px;
  margin: 5px 5px 0px 0px
}

/* Styling for social link icons when hovering*/
.social-links i:hover{
  color: var(--secondary-colour);
}

/* Styling for footer headers */
footer.top h3{
  color: white;
  font-size: 20px;
}

/* Styling for all list groups */
footer.top .quick-links ul,
footer.top .information ul,
footer.top .contact-information ul {
  list-style: none;
  color: white;
  margin-top: 30px;
}

/* Styling for all list elements */
footer.top .quick-links ul li,
footer.top .information ul li, 
footer.top .contact-information ul li{
  font-size: 12px;
  margin-top: 12px;
}

/* Styling for first contact info list */
footer.top .contact-information ul li:nth-child(1){
  display: flex;
}

/* Styling for all link text */
footer.top .quick-links ul li a,
footer.top .information ul li a, 
footer.top .contact-information ul li a{
  color: var(--text-colour);
  text-decoration: none;
  transform: translateY(-2px);
}

/* Styling for all link text when hovering */
footer.top .quick-links ul li a:hover,
footer.top .information ul li a:hover, 
footer.top .contact-information ul li a:hover{
  color: var(--secondary-colour);
}

/* Styling for contact list elements */
footer.top .contact-information ul li:nth-child(2),
footer.top .contact-information ul li:nth-child(3),
footer.top .contact-information ul li:nth-child(4) {
  display: flex;
  margin-top: 5px;
}

/* Styling for contact info icons */
footer.top .contact-information li i {
  color: var(--secondary-colour);
  font-size: 19px;
  margin-right: 10px;
  transform: translateY(-4px);
  margin-bottom: 12px;
}

/* Styling for bottom footer section */
footer.bottom {
  padding: 20px;
  background: var(--primary-colour);
  color: white;
}

/* Styling for footer center alignment */
#footer .footer {
  margin-left: auto;
  margin-right: auto;
}

/* Styling for footer copyright */
#footer .footer p {
  font-size: 10px;
  letter-spacing: 1px;
}